.Snack {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Snack-image {
  margin-bottom: 10px;
  max-height: 400px;
}

.Snack button {
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.945);
  outline: none;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.Snack button:hover {
  color: rgb(243, 243, 220);
  background-color: rgba(7, 94, 46, 0.9);
}
